<h1> Available Car Rentals </h1>

<ul>
    <% @car_rentals.each do |rental| %>
    <h3><li>Owner: <%= rental.owner.name %> - <%= rental.owner.location %></li></h3>
    <h3>Rental: <%= link_to rental.make, car_rental_path(rental) %>, <%= rental.model %> - $<%= rental.rate %>/day</h3>
    <% end %>
</ul>