<h1><%= @rental.make %>, <%= @rental.model %> - $<%= @rental.rate %>/day</h1><br><br><br>
<%= image_tag("profile_pic/488.jpg") %><br><br><br>

<h2><%= link_to "Book #{@rental.make}", new_car_rental_path%></h2><br><br>
    <h2>Reviews</h2>
    <ul>
    <%@rental.reviews.each do |review| %>
    <li><p><%= "#{review.user.first_name} says:"%><br><%= link_to review.comment, review_path(review) %><br> Rating:  <%= review.rating %></p></li>
    <%end%>
    </ul>

<%= link_to "Best Reviews", best_revs_path%>
<%= link_to "Write Review", new_car_rental_review_path(@rental)%><br><br>
<%= link_to "Back", car_rentals_path%>